.details__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 .25rem;
  text-transform: capitalize;
}

.details__subtitle {
  font-size: .875rem;
  font-weight: 300;
  margin: 0 0 .25rem;
}

.details__description {
  font-size: 1.2rem;
}

.details__description p {
  margin-bottom: 0;
}
