.screen {
  display: flex;
  flex-direction: column;
}

.screen__image {
  background: #7e949d;
  border-radius: 1rem;
  padding: 1rem 3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  height: 8rem;
}

.screen__image img {
  height: 100%;
  width: auto;
}
