:root {
  --pokedex-red: #e13639;
  --pokedex-red-light: #ea4943;
  --pokedex-red-dark: #cf2b35;
  --yellow: #ffca1b;
}

body,
input {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, .98), rgba(255, 255, 255, .98)
  ), url("./images/pokeballs.png");
  background-size: auto, 300px 300px;
  background-repeat: repeat, repeat;
}